<%= form_for(@raport) do |f| %>
  <% if @raport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raport.errors.count, "error") %> prohibited this raport from being saved:</h2>

      <ul>
      <% @raport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
